
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;




$main-bg-color: #28353D;
$contact-text-color: #E8E8E8;
$text-color: #595B57;
$footer-bg-color: #28353D;

$istek-color: #0AA699;
$destek-color: #F35958;
$common-blue-color: #0090D9;

$warning-color: #F57F17;
$succes-color: #4CAF50;
$danger-color: #F44336;

$chat-bg-color: #F3F3F3;
$chat-header-bg-color: #00A6A0;
$chat-user-online-color: #6AFF9B;
$chat-user-offline-color: #F44336;
