
.users {
  cursor: pointer;
  &:hover {
    background: #00A6A0;
    transition: .5s ease;
    color: white;
  }
}
.user-avatar {
  float: left;
}
.user-desc {
  display: inline-block;
  width: 180px;
  height: 70px;
  padding: 9px;
  margin-bottom: 0px;
}
.search-user {
  border-radius: 0px;
  width: 250px;
  margin-left: 3px;
  margin-top: 9px;
}
.messenger {
  max-width: 768px !important;
}
.users-list {
  width: 268px;
  height: 500px;
  float: left;

  .user-active {
    background: #00A6A0;
    color: white;
  }

  a {
    text-decoration: none;
    color: #755B57;
  }
}

.mesenger-footer {
  width: 65% !important;
  left: 267px !important;
}